In [106]:
import aequitas
import pandas as pd
import numpy as np
from ml.data import process_data

from ml.model import train_model
from aequitas.group import Group
from aequitas.preprocessing import preprocess_input_df
import aequitas.fairness  
import pickle
import os

In [88]:
df= pd.read_csv("../data/census_cleaned.csv")

In [89]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [90]:
X,y,enc, lb = process_data(df,cat_features,'salary')

In [91]:
df_categorical = df[cat_features].values

df_continuous = df.drop(*[cat_features], axis=1)

In [92]:
loaded_model = pickle.load(open(os.path.join('..','model','model.pkl'), 'rb'))
loaded_encoder = pickle.load(open(os.path.join('..','model','encoder.pkl'), 'rb'))
loaded_lb = pickle.load(open(os.path.join('..','model','labeler.pkl'), 'rb'))

In [93]:
y = df['salary']
X = df.drop(['salary'], axis=1)
X_categorical = X[cat_features].values
X_continuous = X.drop(*[cat_features], axis=1)
X_categorical = loaded_encoder.transform(X_categorical)
y = lb.transform(y.values).ravel()

con_col = list(X_continuous.columns)
cat_col_ohe = list(loaded_encoder.get_feature_names(cat_features))
X = pd.DataFrame(np.concatenate([X_continuous, X_categorical], axis=1), columns=con_col+cat_col_ohe)
scores = loaded_model.predict(X)
df['score'] = scores
df['label_value'] = y
df = df.drop(['salary'], axis=1)

In [96]:
df

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,score,label_value
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,0,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1,1

In [97]:
[cat_features]+['score']+['label_value']

[['workclass',
  'education',
  'marital-status',
  'occupation',
  'relationship',
  'race',
  'sex',
  'native-country'],
 'score',
 'label_value']

In [98]:
# double-check that categorical columns are of type 'string'
df[cat_features] = df[cat_features].astype(str)
    
df, _ = preprocess_input_df(df[cat_features+['score']+['label_value']])

In [111]:
g = Group()
xtab, _ = g.get_crosstabs(df)

/home/jfund/miniconda3/envs/census_proj/lib/python3.8/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

model_id, score_thresholds 0 {'rank_abs': [1635]}

In [ ]:
get_overall_fairness()

In [101]:
xtab[xtab['attribute_value'].isin( ['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White'] )]

,model_id,score_threshold,k,attribute_name,attribute_value,tpr,tnr,for,fdr,fpr,...,pprev,fp,fn,tn,tp,group_label_pos,group_label_neg,group_size,total_entities,prev
53,0,binary 0/1,1635,race,Amer-Indian-Eskimo,0.277778,0.967273,0.089041,0.473684,0.032727,...,0.061093,9,26,266,10,36,275,311,32561,0.115756
54,0,binary 0/1,1635,race,Asian-Pac-Islander,0.166667,0.986894,0.233978,0.178571,0.013106,...,0.053898,10,230,753,46,276,763,1039,32561,0.265640
55,0,binary 0/1,1635,race,Black,0.160207,0.994520,0.106662,0.194805,0.005480,...,0.024648,15,325,2722,62,387,2737,3124,32561,0.123880
56,0,binary 0/1,1635,race,Other,0.200000,1.000000,0.075188,0.000000,0.000000,...,0.018450,0,20,246,5,25,246,271,32561,0.092251
57,0,binary 0/1,1635,race,White,0.171421,0.987536,0.223897,0.174560,0.012464,...,0.053135,258,5897,20441,1220,7117,20699,27816,32561,0.255860

In [104]:
from aequitas.plotting import Plot
    
aqp = Plot()
fpr_plot = aqp.plot_group_metric(xtab, 'fpr')

AttributeError: 'float' object has no attribute 'set_xlim'

In [102]:
xtab

,model_id,score_threshold,k,attribute_name,attribute_value,tpr,tnr,for,fdr,fpr,...,pprev,fp,fn,tn,tp,group_label_pos,group_label_neg,group_size,total_entities,prev
0,0,binary 0/1,1635,workclass,?,0.230366,0.992097,0.082631,0.228070,0.007903,...,0.031046,13,147,1632,44,191,1645,1836,32561,0.104031
1,0,binary 0/1,1635,workclass,Federal-gov,0.134771,0.983022,0.356667,0.166667,0.016978,...,0.062500,10,321,579,50,371,589,960,32561,0.386458
2,0,binary 0/1,1635,workclass,Local-gov,0.134522,0.980352,0.269561,0.258929,0.019648,...,0.053512,29,534,1447,83,617,1476,2093,32561,0.294792
3,0,binary 0/1,1635,workclass,Never-worked,NaN,1.000000,0.000000,NaN,0.000000,...,0.000000,0,0,7,0,0,7,7,32561,0.000000
4,0,binary 0/1,1635,workclass,Private,0.163006,0.989849,0.191367,0.182002,0.010151,...,0.043576,180,4154,17553,809,4963,17733,22696,32561,0.218673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,0,binary 0/1,1635,native-country,Thailand,0.000000,1.000000,0.166667,NaN,0.000000,...,0.000000,0,3,15,0,3,15,18,32561,0.166667
98,0,binary 0/1,1635,native-country,Trinadad&Tobago,0.000000,1.000000,0.105263,NaN,0.000000,...,0.000000,0,2,17,0,2,17,19,32561,0.105263
99,0,binary 0/1,1635,native-country,United-States,0.172082,0.987318,0.214665,0.184402,0.012682,...,0.051868,279,5937,21720,1234,7171,21999,29170,32561,0.245835
100,0,binary 0/1,1635,native-country,Vietnam,0.400000,0.983871,0.046875,0.333333,0.016129,...,0.044776,1,3,61,2,5,62,67,32561,0.074627
101,0,binary 0/1,1635,native-country,Yugoslavia,0.166667,1.000000,0.333333,0.000000,0.000000,...,0.062500,0,5,10,1,6,10,16,32561,0.375000

In [117]:
f =aequitas.fairness.Fairness()

In [118]:
new_df,_=preprocess_input_df(df[cat_features+['score']+['label_value']])

In [119]:
f.get_overall_fairness(new_df)

{'Overall Fairness': 'Undefined'}

In [116]:


f = Fairness()
fdf = f.get_group_value_fairness(bdf)

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,score,label_value
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,0.0,0
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,0.0,0
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,0.0,0
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,0.0,0
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,0.0,0
...,...,...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,0.0,0
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,0.0,1
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,0.0,0
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,0.0,0
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,1.0,1